extends layout

block content
  .container
    .row.justify-content-center.mt-5
      .col-md-8.text-center
        h1 Welcome to the Contact Management System
        p This application allows you to manage your contacts efficiently. You can add, view, edit, and delete contacts seamlessly.
        p For any inquiries or assistance, please contact us at contact@example.com.
        a.btn.btn-primary(href='/contacts') View Contacts Database
